@model Golf_Results_MVC.Models.Comp_Result

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comp_Result</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Competition.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competition.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Golfer.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Golfer.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GolferScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GolferScore)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Position</th>
                    <th>Player</th>
                    <th>Player Score</th>
                    <th>Season</th>

                </tr>
                @*@foreach (var item in Model) // Order by Year then Position
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Golfer.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GolferScore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Season)
                        </td>
                    </tr>*@
                @*}*@
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompResultID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompResultID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
