@model Golf_Results_MVC.Models.Golfer

@{
    ViewBag.Title = "Results";
}

<h2>Details</h2>

<div>
    <h4>Golfer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Competition</th>
                    <th>Season</th>
                    <th>Player Score</th>
                    <th>Position</th>
                </tr>
                @foreach (var item in Model.Comp_Result.OrderByDescending(i => i.Season))
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Competition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Season)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GolferScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
            </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
