@model PagedList.IPagedList<Golf_Results_MVC.Models.Golfer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Golfers</h2>

<p>
    <!-- Hidden Create view for all user bar Admin-->
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
@using (Html.BeginForm("Index", "Golfer", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    <!-- Hidden Edit and Delete Links for all user bar Admin-->
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @: &nbsp;|&nbsp; 
                        @Html.ActionLink("Results", "Details", new { id = item.ID }) @: &nbsp;|&nbsp;
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }
                    else
                    {
                        @Html.ActionLink("Results", "Details", new { id = item.ID })
                    }
                </td>
            </tr>
        }

    </table>

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    <label>Total Golfers:</label> @ViewBag.TotalGolfers
